* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(218, 218, 218);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 10px;
  height: 30px;
  background: rgb(50, 167, 145);
}

header input , header button {
  outline: none;
  border: none;
  width: 150px;
  margin-right: 4px;
  border-radius: 6px;
  padding: 6px;
}

header button {
  background: rgb(117, 40, 204);
  color: white;
}

button:hover {
  filter: brightness(1.1);
}

.trybewarts-header-logo {
  width: 35px;
  height: 35px;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: center;
}

#evaluation-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 675px;
}

main input , #house {
  border: none;
  padding: 10px;
  border-radius: 7px;
  margin: 5px 0;
}

.user-name-info , .user-email-house {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.user-name-info input , .user-email-house input , #house {
  width: 46%;
}

#house {
  outline: none;
  border: none;
}

.user-more_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#families , #contents {
  width: 50%;
  margin: 15px 0;
}

#families div {
  display: flex;
  flex-direction: column;
}

#label-content {
  word-wrap: break-word;
}

#contents label {
  margin-right: 15px;
}

#contents input {
  margin-right: 5px;
}

#rate-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#text {
  width: 100%;
  height: 20px;
}

#text textarea {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(117, 40, 204, 0.5);
  border-radius: 4px;
}
