* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 500px;
  height: 500px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}
