* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(218, 218, 218);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 10px;
  height: 30px;
  background: rgb(50, 167, 145);
}

header input , header button {
  outline: none;
  border: none;
  width: 150px;
  margin-right: 4px;
  border-radius: 6px;
  padding: 6px;
}

header button {
  background: rgb(117, 40, 204);
  color: white;
}

button:hover {
  filter: brightness(1.1);
}

.trybewarts-header-logo {
  width: 35px;
  height: 35px;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

main input {
  border: none;
  padding: 8px;
  border-radius: 7px;
  margin: 5px 0;
}
