* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  height: 30px;
  background: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 30px;
  height: 30px;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}
